<div class="footer-site">
  <p class="text-center">Veterans Taijiquan Association&trade;<br>
    Copyright &copy; 2013 - 2014 Veterans Taijiquan Association ALL RIGHTS RESERVED
  </p>
  <p class=text-center>Please report any broken links or any site functionality issues<br/>to the <%= link_to "Webmaster at Tenth Muse Creative", "http://tenthmusecreative.com/aboutContact/contact-form.php" %></p>
</div>